.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
}

@media (min-width: 768px) {
  .appContainer {
    flex-direction: row;
  }
}

.textContainerBeans {
  background-color: #f9ebe0;
  padding: 24px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  max-width: 40%;
}

.mainText {
  font-size: 4rem;
  font-weight: bold;
  color: #333;
}

.subText {
  font-size: 2rem;
  margin-top: 20px;
}

.imageBeans {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.imageContainerBeans {
  width: 50%;
  height: 560px;
  border-radius: 8px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .leftSection,
  .rightSection {
    width: 100%; /* Changed to 100% for mobile responsiveness */
    padding: 20px;
    box-sizing: border-box; /* Add box-sizing to include padding in width calculation */
  }
  
  .rightSection {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (min-width: 768px) {
    .leftSection,
    .rightSection {
      width: 50%;
    }
  }
  
  .card {
    background-color: #f9ebe0;
    padding: 24px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 50px;
  }
  
  .cardTitle {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 16px;
    color: black;
  }
  
  .policyList {
    font-size: 2rem;
    list-style-type: disc;
    padding-left: 24px;
  }
  
  .policyList li {
    margin-bottom: 8px;
  }
  
  .imageContainer {
    background-color: #f1f1f1;
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dogImage {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    max-height: 560px;
    object-fit: cover;
  }
  