:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark: #485638;
  --darker: #293120;
  --light: #b9c7a8;
  --lighten: #d7dfce;
  /*--dark: #894C06;
  --darker: #623604;
  --light: #E1CDB7;*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --dark: #b9c7a8;
    --darker: #d7dfce;
    --light: #485638;
    --lighten: #293120;
  }
}

html,
body {
  overflow-x: hidden;
  background-color: var(--lighten);
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  position: relative;
  background-color: var(--lighten);
  padding-top: 80.8px;
  
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/back2.png');
  background-repeat: repeat;
  filter: blur(15px);
  z-index: -99; /* Помещаем под основной контент */
}


* {
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Roboto Condensed", serif;
}

button {
  font-family: "Roboto Condensed", serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
