.menu-card {
  width: 20%;
  padding: 20px;
  border: 1px solid #e2e8f0;
  border-radius: 0 15px 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-self: flex-start;
  background-color: #f9ebe0;
  color: black;
  margin-top: 172px;
}

.menu-header {
  margin-bottom: 20px;
}

.menu-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.menu-content {
  margin-top: 20px;
}

.menu-types {
  margin-bottom: 20px;
}

.menu-type-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  background-color: #f8fafc;
  transition: background-color 0.3s;
  cursor: pointer;
}

.menu-type-button:hover {
  background-color: #e2e8f0;
}

.menu-type-button:active {
  background-color: #cbd5e0;
}

.menu-type-icon {
  width: 16px;
  height: 16px;
}

.menu-kinds {
  margin-top: 20px;
}

.menu-kinds-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.menu-kinds-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-kind-item {
  padding: 10px;
  background-color: #f1f5f9;
  border-radius: 4px;
}

.menu-page-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.menu-kind-item,
.menu-type-button {
    border: black 3px  dashed;
}